/* -------------------- Home---------------- */
#home, #home-meme{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 3rem;
    scroll-margin-top: 4rem;
}

.home-title {
    color: var(--primary-green);
    margin-bottom: 1.5rem;
}

.home-name {
    color: var(--secondary-gray);
    font-size: var(--text-4xl);
    font-weight: 600;
}

.home-subtitle {
    margin-top: 0.625rem;
    font-size: var(--text-3xl);
    font-weight: 600;
}

.home-description {
    margin-top: 1.25rem;
    font-size: var(--text-lg);
    max-width: 32rem;
}


@media (min-width:640px) {
    .home-name {
        font-size: var(--text-5xl);
    }

    .home-subtitle {
        font-size: var(--text-4xl);
    }

    .home-description {
        text-align: justify;
        text-justify: inter-word;
    }
}

/* Large */
@media (min-width:768px) {
    .home-title {
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
      
    .home-name {
        margin-top: 0rem;
        margin-bottom: 0.25rem;
        font-size: var(--text-7xl);
        
    }

    .home-subtitle {
        margin-bottom: 1rem;
        font-size: var(--text-6xl);
    }
}


/* For Small Laptop view */
@media (min-width:1024px) {
    #home, #home-meme {
        height: 100vh;
        margin-top: 0rem;
        /* scroll-snap-align: end; */
        scroll-margin-top: 0rem;
        scroll-margin-bottom: 2rem;
    }
    
    .home-title {
        margin-top: 5rem;
        margin-bottom: 1rem;
        font-size: var(--text-3xl);
    }

    .home-name {
        margin-top: 0rem;
        margin-bottom: 1rem;
        font-size: var(--text-8xl);   
    }

    .home-subtitle {
        margin-bottom: 3rem;
        font-size: var(--text-6xl);
    }

    .home-description {
        font-size: var(--text-xl);
        max-width: 37rem;
        text-align: justify;
        text-justify: inter-word;
    }
}


/* For large Laptop view */
@media (min-width:1280px) {
    #home {
        height: 90vh;
    }
    
    .home-title {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        font-size: var(--text-3xl);
    }

    .home-name {
        margin-top: 0rem;
        margin-bottom: 1rem;
        font-size: var(--text-8xl);   
    }

    .home-subtitle {
        margin-bottom: 3rem;
        font-size: var(--text-7xl);
    }

    .home-description {
        font-size: var(--text-xl);
        max-width: 40rem;
        text-align: justify;
        text-justify: inter-word;
    }
}
