footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.5rem;
    margin: 4rem auto 0;
}

.footer-socials {
    display:flex;
    justify-content: center;
    gap: 2.5rem;
    padding-inline-start: 0px;
}

.social-item {
    list-style-type: none;
}

.social-icon {
    fill:#8892b0;;
    width: 3rem;
    height: 3rem;
}

.social-icon:hover {
    fill: var(--primary-green);
}