/* -------------------- Home---------------- */
#home, #home-meme{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 3rem;
    scroll-margin-top: 4rem;
}

.home-title {
    color: var(--primary-green);
    margin-bottom: 1.5rem;
}

.home-name {
    color: var(--secondary-gray);
    font-size: var(--text-4xl);
    font-weight: 600;
    margin-right: 0;
    width:fit-content;
}

.home-description {
    margin-top: 1.25rem;
    font-size: var(--text-lg);
    max-width: 32rem;
}

.second-typing-box {
    display:inline-block;
    min-width: 21ch;
}

.second-typing-box .typed-cursor {
    color: var(--primary-green);
}

@media (min-width:640px) {
    .home-name {
        font-size: var(--text-5xl);
    }

    .home-description {
        text-align: justify;
        text-justify: inter-word;
    }
}

/* Large */
@media (min-width:768px) {
    .home-title {
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
      
    .home-name {
        margin-top: 0rem;
        margin-bottom: 0.25rem;
        font-size: var(--text-7xl);
        
    }
}


/* For Small Laptop view */
@media (min-width:1024px) {
    #home, #home-meme {
        height: 100vh;
        margin-top: 0rem;
        scroll-margin-top: 6rem;
    }
    
    .home-title {
        margin-top: 5rem;
        margin-bottom: 1rem;
        font-size: var(--text-3xl);
    }

    .home-name {
        margin-top: 0rem;
        margin-bottom: 1rem;
        font-size: var(--text-8xl);   
    }

    .home-description {
        font-size: var(--text-xl);
        max-width: 37rem;
        text-align: justify;
        text-justify: inter-word;
    }
}


/* For large Laptop view */
@media (min-width:1280px) {
    #home {
        height: 90vh;
    }
    
    .home-title {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        font-size: var(--text-3xl);
    }

    .home-name {
        margin-top: 0rem;
        margin-bottom: 1rem;
        font-size: var(--text-8xl);   
    }

    .home-description {
        font-size: var(--text-xl);
        max-width: 40rem;
        text-align: justify;
        text-justify: inter-word;
    }
}
